aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiosignal==1.3.2
aiosonic==0.24.0
annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.13.4
charset-normalizer==3.4.1
dynaconf==3.2.10
exceptiongroup==1.2.2
fake-useragent==2.2.0
frozenlist==1.6.0
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
lxml==5.4.0
multidict==6.4.3
onecache==0.7.1
orderedmultidict==1.0.1
propcache==0.3.1
pydantic==2.11.3
pydantic_core==2.33.1
ruff==0.11.6
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
starlette==0.46.2
typing-inspection==0.4.0
typing_extensions==4.13.2
yarl==1.20.0
